/*Colors*/
/*Типографика*/
@font-face {
  font-family: 'ExoBold';
  src: url('fonts/Exo2-Bold.eot');
  src: url('fonts/Exo2-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Exo2-Bold.woff2') format('woff2'), url('fonts/Exo2-Bold.woff') format('woff'), url('fonts/Exo2-Bold.ttf') format('truetype'), url('fonts/Exo2-Bold.svg#Exo2-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ExoBoldEx';
  src: url('fonts/Exo2-ExtraBold.eot');
  src: url('fonts/Exo2-ExtraBold.eot?#iefix') format('embedded-opentype'), url('fonts/Exo2-ExtraBold.woff2') format('woff2'), url('fonts/Exo2-ExtraBold.woff') format('woff'), url('fonts/Exo2-ExtraBold.ttf') format('truetype'), url('fonts/Exo2-ExtraBold.svg#Exo2-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*border: 1px solid green;*/
  height: 100vh;
  min-height: 600px;
  background-color: #181e1e;
}
.container-left {
  /*border: 2px solid blue;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}
.content-left {
  /*border: 2px solid green;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 100vh;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*border: 2px solid red;*/
  margin: 30px 0px 0px 0px;
}
.title-site {
  /*border: 2px solid red;*/
  z-index: 1;
  font-family: 'ExoBoldEx', sans-serif;
  font-size: 40px;
  color: #e8ebee;
  margin: 30px 0 -60px 0px;
}
.logo {
  /*border: 2px solid blue;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  z-index: 0;
}
.logo img {
  /*border: 2px solid red;*/
  width: 162px;
  height: 128px;
}
.menu-left {
  /*border: 1px solid red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0px 50px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2f3737;
  padding: 15px 0 15px 0;
  text-decoration: none;
  font-family: 'ExoBoldEx', sans-serif;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
a.menu-link:hover {
  color: #e8ebee;
}
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  list-style: none;
}
.footer {
  /*border: 1px solid red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 50px 0;
}
.social-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*border: 1px solid red;*/
  padding-right: 10%;
}
.social-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10%;
}
.social-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10%;
}
.social-color {
  color: #2f3737;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.social-color:hover {
  color: #e8ebee;
}
.container-right {
  /*border: 2px solid blue;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 78%;
      flex-basis: 78%;
}
